@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/TheCodingTeam-2021/Repo_Tarea7" target="_blank">Link Al Repositorio</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
